<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a professional web developer with over 10 years of experience. I have a strong background in front-end and back-end development, and I specialize in creating responsive and user-friendly websites.</p>
      </div>
      <div class="col-lg-4">
        <p>Throughout my career, I have worked on various projects, ranging from small business websites to large-scale web applications. I am proficient in HTML, CSS, JavaScript, and have experience with popular frameworks and CMS platforms such as Bootstrap, React, and WordPress.</p>
      </div>
    </div>
  </div>
</section>
